/.metadata/
*.class
**/*.class
.gitignore
.gitignore
*.class
*.class
*.class
src/bin/Strings/EjemploStringTestRendimientoConcat.class
src/bin/Strings/EjemploStringInmutable.class
src/bin/Strings/EjemploStringConcatenacion.class
src/bin/Primitivos/SistemasNumericos2.class
src/bin/Primitivos/SistemasNumericos.class
src/bin/Primitivos/PrimitivosBoolean.class
src/bin/Primitivos/Primitivos.class
src/bin/Primitivos/PrimitivoFloat.class
src/bin/HolaMundo/HolaMundo.class
src/bin/examples/factura.class
src/bin/Conversion/ConversionDeTipos.class
src/bin/Conditionals/Conditionals.class
src/bin/Characters/PrimitivosCaracteres.class
src/bin/Characters/Caracteres.class
bin/Strings/EjemploStringTestRendimientoConcat.class
bin/Strings/EjemploStringInmutable.class
bin/Strings/EjemploStringConcatenacion.class
bin/Primitivos/SistemasNumericos2.class
bin/Primitivos/SistemasNumericos.class
bin/Primitivos/PrimitivosBoolean.class
bin/Primitivos/Primitivos.class
bin/Primitivos/PrimitivoFloat.class
bin/HolaMundo/HolaMundo.class
bin/examples/factura.class
bin/Conversion/ConversionDeTipos.class
bin/Conditionals/Conditionals.class
bin/Characters/PrimitivosCaracteres.class
bin/Characters/Caracteres.class
bin/Characters/Caracteres.class
bin/Characters/PrimitivosCaracteres.class
bin/Conditionals/Conditionals.class
bin/Conversion/ConversionDeTipos.class
bin/examples/factura.class
bin/HolaMundo/HolaMundo.class
bin/Primitivos/PrimitivoFloat.class
bin/Primitivos/Primitivos.class
bin/Primitivos/PrimitivosBoolean.class
bin/Primitivos/SistemasNumericos.class
bin/Primitivos/SistemasNumericos2.class
bin/Strings/EjemploStringConcatenacion.class
bin/Strings/EjemploStringInmutable.class
bin/Strings/EjemploStringTestRendimientoConcat.class
src/bin/Characters/Caracteres.class
src/bin/Characters/PrimitivosCaracteres.class
src/bin/Conditionals/Conditionals.class
src/bin/Conversion/ConversionDeTipos.class
src/bin/examples/factura.class
src/bin/HolaMundo/HolaMundo.class
src/bin/Primitivos/PrimitivoFloat.class
src/bin/Primitivos/Primitivos.class
src/bin/Primitivos/PrimitivosBoolean.class
src/bin/Primitivos/SistemasNumericos.class
src/bin/Primitivos/SistemasNumericos2.class
src/bin/Strings/EjemploStringConcatenacion.class
src/bin/Strings/EjemploStringInmutable.class
src/bin/Strings/EjemploStringTestRendimientoConcat.class
